[project]
	description = Device tree and several patches for supporting Acer 1825,1820,1810,1425,1420,1410, Packard Bell Butterfly Touch and may other Acer laptops in Android-x86-ics
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Norman (eric011)
[access "refs/for/refs/*"]
	read = group user/Norman (eric011)
	push = group user/Norman (eric011)
	label-Code-Review = -2..+2 group user/Norman (eric011)
	label-Verified = -1..+1 group user/Norman (eric011)
	rebase = group user/Norman (eric011)
	removeReviewer = group user/Norman (eric011)
	submit = group user/Norman (eric011)
[access "refs/heads/*"]
	read = group user/Norman (eric011)
	create = group user/Norman (eric011)
	push = +force group user/Norman (eric011)
	pushMerge = group user/Norman (eric011)
[access "refs/tags/*"]
	push = +force group user/Norman (eric011)
	pushTag = group user/Norman (eric011)
	pushSignedTag = group user/Norman (eric011)
